html{
    background: white;
}
#someId{
    color: red;
}
#someId.someClass:active #someOtherId.someOtherClass #thirdId{
    color: red !important;
}
#someId{
    color: black !important;
}
*{
    color: initial;
}